* {
    margin: 0;
}

body {
    min-width: 960px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    background: #000000 url("../images/background.jpg") no-repeat center top;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    min-height: 70px;
}

.main-header {
    margin-bottom: 60px;
    color: #fff;
    background-color: #000;
}

.main-header-layout {
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    width: 780px;
    min-height: 70px;
}

.main-navigation ul {
    display: flex;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation a {
    display: flex;
    padding: 25px 20px;
    color: #fff;
    text-decoration: none;
}

.main-navigation a:hover,
.login:hover {
    background-color: #242424;
}

.user-block {
    max-width: 140px;
    min-height: 70px;
}

.login {
    display: flex;
    position: relative;
    padding: 25px 20px;
    padding-left: 50px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
    text-decoration: none;
}

.login::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: url("../images/login.png") no-repeat;
    opacity: 0.3;
}

.login:hover::before {
   opacity: 1;
}


.index-logo {
    width: 368px;
    min-height: 204px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

.features {
    display: flex;
    margin-bottom: 80px;
}

.features-item {
    width: 300px;
    min-height: 175px;
    margin-right: 20px;
}

.features-item:last-child {
    margin-right: 0;
}

.index-content {
    padding: 50px 80px;
    margin-bottom: 35px;
}

.index-content-left {
    min-height: 330px;
    float: left;
    width: 380px;
}

.index-content-right {
    min-height: 330px;
    float: right;
    width: 300px;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-contacts {
    min-height: 90px;
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-social {
    min-height: 90px;
    float: left;
    width: 180px;
}

.footer-copyright {
    min-height: 90px;
    float: right;
    width: 180px;
}
