* {
    margin: 0;
}

body {
    min-width: 960px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    background: #000000 url("../images/background.jpg") no-repeat center top;
}

main {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 60px;
    color: #fff;
    background-color: #000;
}

.main-navigation {
    width: 780px;
    min-height: 70px;
    margin-left: auto;
    margin-right: 20px;
}

.main-navigation ul {
    display: flex;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation a {
    display: flex;
    padding: 25px 20px;
    color: #fff;
    text-decoration: none;
}

.main-navigation a:hover,
.login:hover {
    background-color: #242424;
}

.user-block {
    max-width: 140px;
    min-height: 70px;
    margin-right: auto;
}

.login {
    display: flex;
    position: relative;
    padding: 25px 20px;
    padding-left: 50px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
    text-decoration: none;
}

.login::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: url("../images/login.png") no-repeat;
    opacity: 0.3;
}

.login:hover::before {
   opacity: 1;
}


.index-logo {
    width: 368px;
    min-height: 204px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

.features {
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: flex-start;
}

.features-item {
    width: 300px;
    min-height: 175px;
    margin-right: 20px;
    text-align: center;
}

.features-item:last-child {
    margin-right: 0;
}

.features-name {
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding-bottom: 35px;
    font-size: 30px;
    line-height: 42px;
}

.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.features-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-color: #fff;
    transform: rotate(45deg);
}

.index-content {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;
    color: #000;
    background: url("../images/line.png") no-repeat center, #fcf9f5 url("../images/background-2.jpg");
}

.index-content-title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
}

.index-content p {
    margin: 0;
    margin-bottom: 25px;
}


.new-preview {
    margin: 0;
    padding: 0;
    padding-right: 35px;
    list-style: none;
}

.new-preview li {
    margin-bottom: 25px;
}

.new-preview p{
    margin-bottom: 0;
}

.new-preview time {
    text-transform: none;
}

.btn {
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    vertical-align: top;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #000;
    border: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: #000;
}

.index-content-left {
    min-height: 330px;
    width: 380px;
}

.index-content-right {
    min-height: 330px;
    width: 300px;
}

.gallery {
    position: relative;
    height: 260px;
}

.galery-content {
    height: 164px;
    margin: 0;
    background: #ccc;
    border: 7px solid #fff;
}

.galery-content img {
    width: 328px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 140px;
}

.next {
    right: 0;
}

.appointment-form {
    flex-wrap: wrap;
	justify-content: space-between;
	display: flex;
}

.appointment-form input{
    background-color: #f9f6f2;
    border: 2px solid #000;
    width: 106px;
    padding: 7px 15px;
    color: #000;
    font-family: "PT Sans - Narrow Bold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-right: 20px;
    font-weight: 700;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

.main-footer {
    display: flex;
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background: #252 url("../images/footer.jpg");
}

.footer-contacts {
    width: 320px;
    margin-left: auto;
    min-height: 90px;
    margin-right: 60px;
}

.footer-contacts a {
    color: #fff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    width: 180px;
    min-height: 90px;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
    margin-left: 15px;
}

.footer-copyright {
    max-width: 180px;
    margin-right: auto;
    margin-left: 220px;
    min-height: 90px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}

.footer-copyright .btn:hover {
    color: #000;
    background-color: #fff;
}

.social-icons {
    display: flex;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    vertical-align: top;
    text-decoration: none;
    font-size: 0;
    background-color: #000;
    transition: background-color 0.5s;
}

.social-btn:hover {
    background-color: #fff;
}

.social-icon {
    transition: background-position 0.5s;
    display: inline-block;
    background: url("../images/sprite-social.png") no-repeat;
    overflow: hidden;
    text-align: left;
}

.social-icon-vk {
    background-position: -10px -0px;
    width: 25px;
    height: 16px;
}

.social-btn-vk:hover .social-icon-vk {
    background-position: -10px -26px;
}

.social-icon-fb {
    background-position: -10px -114px;
    width: 12px;
    height: 22px;
}

.social-btn-fb:hover .social-icon-fb {
    background-position: -10px -146px;
}

.social-icon-inst {
    background-position: -10px -52px;
    width: 21px;
    height: 21px;
}

.social-btn-inst:hover .social-icon-inst {
    background-position: -10px -83px;
}
